body {
    background-image: linear-gradient(180deg, #134d71 15%, #78a7c6 60%, #f7e4bf 105%);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h1 {
    color: white;
    font-size: 4vmin;
    margin-top: 5.5vh;
    margin-bottom: 10vh;
}

h2 {
    color: white;
    font-size: 3vmin;
    margin-bottom: 1vh;
}

.buttons-container {
    height: 12.5vh;
    width: 44vw;
    background-color: white;
    border-radius: 1.25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14vh;
    padding-top: 1vh;
}

.radios-container {
    font-size: 2.5vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: italic;
}

.radio-buttons {
    margin-right: 1vw;
    height: 2.75vh;
    width: 2.75vw;
    accent-color: #134d71;
}

.radio-margin {
    margin-right: 10vw;
}

#receive-button {
    background-color: #134d71;
    color: rgba(255, 255, 255, 0.9);
    border: 0;
    border-radius: 0.75vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.25vmin;
    height: 4vh;
    width: 14vw;
}

.message-section {
    height: 20vh;
    width: 60vw;
    background-color: white;
    font-size: 3vmin;
    border-radius: 1.25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dude {
    height: 10vh;
    width: 6vw;
}

.msg-text {
    margin: 0 3vw 0 3vw;
}

.reset-text {
    font-style: italic;
    font-size: 2.5vmin;
    margin-top: -1.5vh;
}