body {
    background-image: linear-gradient(180deg, #134d71 15%, #78a7c6 60%, #f7e4bf 105%);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h1 {
    font-size: 4vh;
    margin-top: 5.5vh;
    margin-bottom: 10vh;
}

h2 {
    font-size: 3vh;
    margin-bottom: 1vh;
}

.radio-inputs {
    font-size: 2.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: italic;
}

.all-buttons {
    height: 12vh;
    width: 40vw;
    background-color: white;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14vh;
    padding-top: 1vh;
}

#dude {
    height: 10vh;
    width: 6vw;
}

.white-text {
    color: white;
}

.affirm {
    margin-right: 12vw;
}

.msg-buttons {
    margin-right: 1vw;
    height: 2.75vh;
    width: 2.75vw;
    accent-color: blue;
}

#receive-button {
    background-color: #134d71;
    border: 0;
    border-radius: 0.75vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.25vh;
    height: 4vh;
    width: 14vw;
}

.message-section {
    height: 20vh;
    width: 60vw;
    background-color: white;
    font-size: 3vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}